*{
    margin: 0;
    padding: 0;
}

.container{
    background-color:white;
    color:black;
    width: 21rem;
    text-align: center;
    margin: auto;
    height: 34rem;
}

.container h1{
    margin: 1rem;
}

.calculator{
    width: 17rem;
    height: 25rem;
    background-color: grey;
    text-align: center;
    margin: auto;
    padding-top:2rem;
    border-radius: 1rem;
}

#screen{
    width: 15rem;
    height: 4rem;
    background-color: orange;
    font-size: 2rem;
}

table{
    margin: auto;
    margin-top: 1rem;
}

button{
    width: 3.7rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 0.1rem;
}

#equals{
    background-color: orange;
}


#footer {
    position:fixed;
    left:0rem;
    bottom:0rem;
    height:4rem;
    width:100%;
    background:orange;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
 }

 #fcontent{
    padding-top: 1rem;
 }

 h1 a{
    color: black;
 }